.test-location-form {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Отступы между элементами */
  margin-bottom: 20px;
}

.form-item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.form-hint {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}
.form-hint input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

select {
  width: 100%;
  max-width: 200px; /* Установите ограничение ширины */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.servers {
  padding: 8px;
  font-size: 16px;
  color: #333;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: nowrap; /* Предотвращение переноса текста */
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #dc3545;
  font-size: 18px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.add-location-button,
.console-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-location-button {
  background-color: #007bff;
  color: white;
}

.add-location-button i {
  margin-right: 8px;
}

.console-button {
  background-color: #28a745;
  color: white;
}

/* Стиль для контейнера выпадающего списка */
.form-item select {
  -webkit-appearance: none; /* Убираем стандартный стиль браузера */
  -moz-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 30px; /* Отступы: слева для иконки, справа для стрелки */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px; /* Увеличиваем высоту */
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2210%22 height%3D%2210%22 viewBox%3D%220 0 10 10%22%3E%3Cpath d%3D%22M0 0h10L5 5z%22 fill%3D%22%23333%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
  color: #333;
}

/* Значок слева внутри выпадающего списка */
.form-item select::placeholder,
.form-item label i {
  font-size: 14px;
  color: #333;
  margin-right: 5px;
}

/* Убираем стрелку на некоторых браузерах */
.form-item select::-ms-expand {
  display: none;
}
